<div class="" style="background-color:#F7F7F7 0% 0% no-repeat padding-box;">
    <mat-toolbar class="toolbar">
    
  
      <span class="example-spacer"></span>
      <span class="">
   

  
        <span #elementProfile>
  
          <button mat-button [matMenuTriggerFor]="menu">
            <span style="font-size: 18px;">{{ this.tokenModel?.user?.name }} </span>
      
  
            <img [src]="asSettingsService.fileBaseUrlOrjinal+tokenModel.user.profile_photo_file_uid" alt=""
              *ngIf="this.tokenModel.user.profile_photo_file_uid" width="50px" height="50px" style="border-radius: 100%;">
  
          </button>
        </span>
  
        <mat-menu #menu="matMenu">
          <button mat-menu-item   >
            <mat-icon>account_box</mat-icon>
            <span>Profil</span>
          </button>
  
         
        </mat-menu>
  

      </span>
  
  
    </mat-toolbar>
  
    <div class="toolbarMobil">
      <div class="row " style="width: 100%; margin-top:10px; padding:0px">
  
        <!-- <div class="col-lg-3 col-md-6 col-sm-12 text-center ">
          <img src="../../../../assets/general/adminscope_logo.png">
        </div> -->
  
        <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="background-color: #011E2B; position: fixed;    top: 0;
        width: 100%; left: 0; z-index: 99;height: 70px; padding: 10px;" [class.headerMobil_set_open]="headerMobilOpen" [class.headerMobil_set_close]="!headerMobilOpen">
  
          <img src="../../../../assets/svg/adminscope_logo_beyaz.svg" (click)="headerMobilOpen=!headerMobilOpen"
          width="150px" height="50px" alt="">
  
          <span #elementProfile style="position: absolute;   top: 10px; right: 0;"> 
            <button mat-button [matMenuTriggerFor]="menu">
  
              <span class="harfLogo" *ngIf="!this.tokenModel.user.profile_photo_file_uid">
                {{basHarfLogo(tokenModel.user.name)}}
              </span>
              <img [src]="asSettingsService.fileBaseUrlOrjinal+tokenModel.user.profile_photo_file_uid" alt=""
                *ngIf="this.tokenModel.user.profile_photo_file_uid" width="50px" height="50px"
                style="border-radius: 100%;">
  
            </button>
            <mat-menu #menu="matMenu"  *ngIf="headerMobilOpen">
              <button mat-menu-item routerLink="user/profil/">
                <mat-icon>account_box</mat-icon>
                <span>Bilgilerimi Güncelle</span>
              </button>        
              <a mat-menu-item >
                <mat-icon>exit_to_app</mat-icon>
                <span>{{'TXT_LOG_OUT'  }} </span>
              </a>
            </mat-menu>
    
          </span>
  
  
        
  
     
  
          <div class="col-lg-12"  [@openClose]="headerMobilOpen ? 'open' : 'closed'"  [class.headerMobil_sub_icon_open]="headerMobilOpen"  style="text-align: center; padding: 15px; ">
  
            <div style="text-align: center;">
              <span style="font-size: 18px;color: white;">{{ this.tokenModel?.user?.name }} </span>
    
            </div>
  
    
  
  
            <span [matMenuTriggerFor]="menuTutorials" style="position: relative; " class="iconCerceve">
              <img class="itemIcon" style="-webkit-mask: url('../../../../assets/svg/faq.svg') no-repeat 50% 50%" src=""
                alt="">
            </span>
            <mat-menu #menuTutorials="matMenu">
              <!-- <button mat-menu-item>
                <span> FAQ </span>
              </button> -->
              <button mat-menu-item (click)="istutoriol =true" routerLink="/admin">
                <span> {{'TXT_TUTORIALS'  }} </span>
              </button>
            </mat-menu>       
  
  
  
  
     
          </div>
  
        </div>
  
  
  
  
      </div>
  
  
  
  
    </div>
  
    <app-menu (openSettingMenu)="getSettingMenu()" (close)="appPadding = $event"></app-menu>
  

    <!-- <kt-menu-horizontal></kt-menu-horizontal> -->
    <div [style.padding-left]="appPadding && appPadding">
      <div class="content-inside">
        <router-outlet></router-outlet>
      </div>
    </div>
  
  

  </div>
  
  <div style="height: 40px;">
  
  </div>
  
  
