


<div class="row mb-4 align-items-center" >



    <form [formGroup]="documentForm">

      <div class="row">
        <div class="col-lg-12">
            <as-img-upload controlName="ImageBase64"  (file)="file($event)"></as-img-upload>

        

            
        </div>       
      </div>

      <div class="row justify-content-md-center">
        <div class="col-lg-6 ">

         <mat-form-field appearance="outline" class="full-width">
                    <mat-label> Resim Adı</mat-label>
                    <input matInput type="text" placeholder="Name" formControlName="name" />
                    <mat-error *ngIf="asSettingsService.isControlHasError('name','required',documentForm)">
                      <strong> zorunlu </strong>
                    </mat-error>
                  </mat-form-field>
        </div>       
      </div>   

      <button mat-button (click)="save()" color="primary" >Kaydet</button>
      <div class="row">
        <div class="col-lg-12">
          <div *ngIf="resultFile.file_url || data.path" style="position: relative; cursor: cell;">

            <label style="color:green" for="">Resmin üzerinde mouse sol tuşuna tıklanarak kutunun sol ust noktası, sonra resim üzernde bir yer seçilir Mouse Sağ tuşana tıklanarak kutunun sağ alt noktasını oluşturup kutu tamamlanır</label>
            <as-input  [etiketList]="etiketList" (edit)="setValue($event,item.id)" [etiketKutu]="item" (cancel)="cancel($event)" [id]="item.id" *ngFor="let item of listKutu"></as-input>
    
     
            <img [src]=" data.path ? asSettingsService.siteUrl + data.path : resultFile.file_url" (click)="kutuEkle($event)" (contextmenu)="contextmenu($event)" width="auto" style="max-width: 1200px;" height="auto"   alt="">

    
    
           </div>
        </div>       
      </div>   


    </form>
  </div>